canvas{
    position: absolute;
    left: 50%;
    right: 50%;
    background-color: black;
    margin-top: 25px;
    margin-left: -300px;
    margin-bottom: 25px;
}

/* meu
canvas{
    position: flex;
    flex-direction: column;
    margin-left: 25%;
    border: 20px solid #00ff40;

    height: 600px;
    width: 600px;
} */